= link_to '登録', '#modal', data: {'remodal-target': 'modal'}
.remodal{data: {remodal_id: "modal"}}
  %button.remodal-close{data: {remodal_action: "close"}}
  #modal__content
    = render 'form', user: @user
= link_to "トップページへ", root_path